/* 
Agregando estilos:

1. Posicionamiento            --> static, absolute, relative, fixedos
2. Modelo de caja             --> margin, border, padding, content
3. Tipografía                 --> tipos, tamaños de fuente, etc
4. Visuales                   --> box-shadow, border-radius, gradient, etc
5. Otros                      --> reglas CSS y más
*/


/* archivo base */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{

    /* Colores generales  */
    --background-black: #12121A;
    --off-white: #DBDBDB;
    --just-white: #fff;
    --action: rgb(255, 192, 203);



    /* Fuentes y tamaños */
    --font-poppins:'Poppins', sans-serif;

    --all-18: 1.8rem;
    --titles: 3.6rem;
    --paragraph: 1.4rem;




   /*  Colores en los item de cada trabajo */
    --color1:#C09BE0;
    --color2: #FD933C;
    --color3: #FE4630;
    --color41: #182834;
    --color42: #FDDB26;
    --color5: #D2FAFA;
    --color6: #FF5D68;
    --numero-de-proyectos-presentados: 10

}

html{
    background: var(--background-black);
    font-size: 62.5%;
    font-family: var(--font-poppins);
}

body{
    font-style: normal;
    font-weight: 500;
    font-size: var(--all-18);
    line-height: 2.4rem;
    color: var(--just-white);
}

a{
    text-decoration: none;
    color: var(--just-white);
}
/* a:visited, */
a:focus,
a:hover,
a:active {color: var(--action);}  /* selected link */

ul{
    list-style:none;
}

.paragraph { font-size: var(--paragraph);
}