
.work {
    margin: 0 0 24px 0;
}
.work .work__content{
    display: flex;
    /* width: calc((220px + 40px)* var(--numero-de-proyectos-presentados)); */
    /* background: chartreuse; */
}


/* .work__content.animation{
    -webkit-animation: scroll 28s linear infinite  forwards;
    animation: scroll 28s linear infinite  forwards;
}
 */

.work .work__item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 40px 12px 0;
/*     background: chocolate; */
}

.work__container{
    position: relative;
    padding: 48px 0 0 0 0;
}


/* Titulos de los contenedores de los item */

.work__container h2{
    width: 125px;
    font-style: normal;
    font-weight: 500;
    font-size: var(--all-18);
    line-height: 1.8rem;
    color: var(--just-white);
}

.work__container h2:nth-child(1){
    padding-bottom: 1.6rem;
    color:  var(--color1);
}
.work__container h2:nth-child(2){
    color:  var(--color2);
    padding-top: 1.6rem;
}
.work__container h2:nth-child(3){
    color:  var(--color3);
    padding-bottom: 1.6rem;

}
.work__container h2:nth-child(4){
    color:  var(--color41);
    padding-top: 1.6rem;

}
.work__container h2:nth-child(5){
    color:  var(--color5);
    padding-bottom: 1.6rem;
}

/* 
@keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {

              transform: translateX(calc((-260px)* var(--numero-de-proyectos-presentados)*0.5)); 
    }
}
 */
.swiper-button-next, 
.swiper-button-prev{
    outline: none;
}

/* Paginacion */
.swiper-pagination-bullet {
    opacity: 0.9;
    background: #fff;
}
.swiper-pagination-bullet:not(.swiper-pagination-bullet-active){
    background: #fff;
}

.swiper-pagination-bullet .swiper-pagination-bullet-active{
    background: var(--swiper-theme-color);
}


/* Imagenes de los contenedores de los item */
.work__container img{
    width: 22rem;
    border-radius: 8px;
}
.work__container:hover > img{
    width: calc( 22rem + 2vw);
    transition: all 0.3s ease;
    /* filter: drop-shadow(0px 4px 24px rgba(207, 211, 221, 0.75)); */
    filter: drop-shadow(0px 8px 20px rgba(207, 211, 221, 0.25));
}





/* imagenes para el background */

.img-background{ /* de3splazar */

    position: fixed;
    bottom: 0;
    z-index: -1;
    /* trucaso */
    width: 100%;
    height: 100vh; 
    background-image: url('../assets/svg/o.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 350px;
    background-size: cover;
}


.img-background--vertical-scrolling{ /* de3splazar */

    /* trucaso */
    width: 100%;
    height: 100vh; 
    background-color: red;
    background-image: url('../assets/svg/o.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 350px;
    background-size: cover;

}
